@tailwind base;
@tailwind components;
@tailwind utilities;

* {    
  margin: 0 !important;
  padding: 0 !important;
}

:root {
  font-family: Georgia, serif;
  line-height: 1.5;
  font-weight: 400;
  scrollbar-width: none;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
